body {
    /* ref: https://fonts.google.com/specimen/Source+Sans+Pro?selection.family=Source+Sans+Pro */
    font-family: "Source Sans Pro", sans-serif;
    padding: 1em 3em;
  }
  
  .dot {
    cursor: pointer;
    color: steelblue;
    opacity: 0.5;
  }
  
  .dot:hover {
    fill: orange;
  }
  
  .axis-label {
    font-size: 14px;
    fill: black;
    text-anchor: middle;
  }
  
  .trend {
    fill: none;
    stroke: black;
  }
  /*.area {
    fill: rgb(39, 209, 138);
    stroke: rgb(39, 100, 72);
  }*/
    .container {
      text-align: center;
  }

.primary-2 { fill: rgb(19, 82, 255) }	/* Main Primary color */
.primary-1 { fill: rgb(59, 111, 255) }
.primary-3 { fill: rgb(69, 27, 252) }
.primary-4 { fill: rgb(42, 0, 228) }

.complement-2 { fill: rgb(250, 201, 102) }	/* Main Complement color */
.complement-1 { fill:  rgb(121, 156, 252)  }
.complement-3 { fill: rgb(255, 136, 25) }
.complement-4 { fill: rgb(241, 80, 40) }

.highlight { fill:  rgb(126, 127, 129)}
.annotation{ fill: grey; 
            text-anchor: middle;
            font-size: 12px;}
.showLight {fill: #b6b6b9;}
.showDark {fill: #404044;} 
.source { font-size: 10px;}